.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

*~
.directory
.Trash-*

.vscode/
*.code-workspace

.idea/
*.iml
*.iws
*.ipr

*.sublime-project
*.sublime-workspace

*.swp
*.swo
.*.sw[a-p]

\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc

.atom/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-debug.log*

dist/
build/
out/
.parcel-cache/
.cache/
.next/
.nuxt/
.vuepress/dist

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

*.log
logs/
*.pid
*.seed
*.pid.lock
*.tmp
*.temp

*.bak
*.backup
*.old
*.orig
*.zip
*.tar.gz
*.rar

coverage/
*.lcov
.nyc_output/
